@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--background-primary: #151c2c;
	--background-secondary: #182237;
	--background-tertiary: #2e374a;
	--background-action: #5d57c9;

	--text-primary: #ffffff;
	--text-secondary: #b7bac1;
	--text-action: #5d57c9;
}

::-webkit-scrollbar {
	display: none;
}
